@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Nunito:wght@600&family=Rubik+Iso&display=swap');
                

/* All Section */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Fixed Height using Scroll */
    color: #ffffff;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

body {
    background-color: #182527;
    font-family: 'Caprasimo', cursive;
    font-family: 'Nunito', sans-serif;                         
}

main {
    height: 100;
    display: grid; /* Work on grid */
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px,190px))
    minmax(60px, 1fr);   
}

h1 {
    text-align: center;
    font-family: 'Caprasimo', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Rubik Iso', cursive;
    color: #20cd8d;
    font-size: 50px;
}

.picture img {
    text-align: center;
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;

}

.info-top {
    color: #20cd8d;
    font-size: 26px;
    font-weight: bold;
}

.info-bottom {
    margin-right: 35px;
    margin-bottom: 50px;
}

.poet {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.contact {
    font-size: 24px;
    text-align: center;
    color: #20cd8d;
    margin-bottom: 40px;
}

.icons {
    text-align: center;
    display: inline-flex;
}

.icon {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.icon img {
    width: 50px;
    height: 50px;
}